@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<br>
<hr>
<br>
<div class="container">

    <h1>Please select Order Number </h1>
    <form asp-action="">
        <div class="form-group">
            <select class="browser-default custom-select mb-4 float-left" asp-items="ViewBag.SelectOrderData" name="orderNumber">
                <option value="Choose option" disabled></option>
            </select>


            <h4>Choose attributes that you want to get as JSON</h4>

            <label class="d-block">
                <input type="checkbox" class="mr-1" name="orderData" value="OrderNumberCheck"> Order Number
            </label>
            <label class="d-block">
                <input type="checkbox" class="mr-1" name="orderData" value="CarId"> Car ID
            </label>
            <label class="d-block">
                <input type="checkbox" class="mr-1" name="orderData"value="ClientId"> Client ID
            </label>
            <label class="d-block">
                <input type="checkbox" class="mr-1" name="orderData" value="OrderStatus"> Order Status
            </label>
            <label class="d-block">
                <input type="checkbox" class="mr-1" name="orderData" value="PurchasePrice"> Purchase Price
            </label>

            <a class="btn btn-outline-success btn-group-vertical" name="getButton" style="display:none;">Get Order Data</a>
        </div>
    </form>

</div>
