<link rel="stylesheet" href="~/css/error.css" />

    <section id="not-found">
        <div id="title">Simple Pure CSS3 &bull; 404 Error Page</div>
        <div class="circles">
            <p> 404
                <br>
                <small>PAGE NOT FOUND</small>
            </p>
            <a class="btn btn-lg btn-outline-info" type="button" asp-action="Index" asp-controller="Home" style="margin-right:4%; margin-bottom:4%;">Back to Home</a>
            <span class="circle big"></span>
            <span class="circle med"></span>
            <span class="circle small"></span>
        </div>
    </section>

