@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="entry-content">
    <p>A privacy policy outlines how your website collects, uses, shares, and sells the personal information of your visitors. If you collect personal information from users, you <strong>need</strong> a privacy policy in most jurisdictions. Even if you aren’t subject to privacy policy laws, being transparent with users about how you collect and handle their data is a best business practice in today’s digital world.</p>
    <p>Our simple <strong>privacy policy template</strong> will help you comply with strict privacy laws, and build trust with your users.</p>
    <p>Download the free privacy policy template below, or copy and paste the full text onto your site. If you’d rather let us help you customize a document that’s tailored specifically to your business, our <a href="https://termly.io/products/privacy-policy-generator/">privacy policy generator</a> will create one for you in minutes.</p>
    <section class="table-of-contents">
        <span>Table of Contents</span>
        <ol>
            <li>
                <a href="#what-is-a-privacy-policy">What Is a Privacy Policy?</a>
            </li>
            <li>
                <a href="#is-a-privacy-policy-required-by-law">Is a Privacy Policy Required by Law?</a>
            </li>
            <li>
                <a href="#what-should-i-include-in-a-boilerplate-privacy-policy">What Should I Include in a Boilerplate Privacy Policy?</a>
            </li>
            <li>
                <a href="#website-privacy-policy-examples">Website Privacy Policy Examples</a>
            </li>
            <li>
                <a href="#simple-privacy-policy-template-for-website-full-text-and-download">Simple Privacy Policy Template for Website [Full Text and Download]</a>
            </li>
            <li>
                <a href="#conclusion">Conclusion</a>
            </li>
            <li>
                <a href="#privacy-policy-faqs">Privacy Policy FAQs</a>
            </li>
        </ol>
    </section>
    <h2 id="what-is-a-privacy-policy">1. What Is a Privacy Policy?</h2>
    <p>A basic privacy policy outlines your website’s relationship with users’ personal information.</p>
    <p>To succeed online and avoid legal turmoil, your website <strong>needs</strong> a privacy policy agreement. The first step to creating a compliant and comprehensive privacy policy is understanding exactly what that is.</p>
    <h3>Privacy Policy Definition</h3>
    <p>A privacy policy is a legal document that informs your site’s users about how you collect and handle their personal information. You may also hear privacy policies referred to by the following names:</p>
    <ul>
        <li>Privacy notice</li>
        <li>Privacy policy statement</li>
        <li>Privacy page</li>
        <li>Privacy clause</li>
        <li>Privacy agreement</li>
    </ul>
    <p>A general privacy policy explains a platform’s interactions with the personal information and personally identifiable information (<a href="https://termly.io/resources/articles/personally-identifiable-information/">PII</a>) of its users. PII is information that can be used by itself, or combined with other information, to identify an individual.</p>
    <p>Specific platforms or services may require a unique privacy policy template. Examples include:</p>
    <ul>
        <li><a href="https://termly.io/resources/templates/app-privacy-policy/">app privacy policies</a></li>
        <li><a href="https://termly.io/resources/articles/privacy-policy-for-blogger/">privacy policies for Blogger</a></li>
        <li><a href="https://termly.io/resources/articles/wordpress-privacy-policy/">WordPress privacy policies</a></li>
        <li><a href="https://termly.io/resources/templates/ecommerce-privacy-policy/">ecommerce privacy policies</a></li>
    </ul>
    <p>However, a standard privacy policy template will likely satisfy user demands and legal requirements for your website.</p>
    <h3>Standard Privacy Policy for Website</h3>
    <p>We’ll dive into details later on in <a href="#what-should-i-include-in-a-boilerplate-privacy-policy">What to Include in a Boilerplate Privacy Policy</a>, but a basic privacy policy outlines the following:</p>
    <ul>
        <li>
            <strong>What</strong> information is collected
        </li>
        <li>
            <strong>Where</strong> information is collected from
        </li>
        <li>
            <strong>Why</strong> information is collected
        </li>
        <li>
            <strong>How</strong> information is collected (including through cookies and other tracking technologies)
        </li>
        <li>
            <strong>Who</strong> information is shared with or sold to
        </li>
        <li>What <strong>rights</strong> users have over their data</li>
        <li>
            The site’s <strong>contact details</strong>
        </li>
    </ul>
    <p>Privacy policies should be clear, thorough, and easy for internet users to find on any given site.</p>
    <aside class="tip ">
        <div class="tip-icon">
            <svg class="icon icon-tip" aria-hidden="true" focusable="false" role="img"> <use xlink:href="#icon-tip"></use> </svg>
        </div>
        <div class="tip-text">
            <p>If you’d like to write your own privacy policy document from scratch, check out our guide on <a href="https://termly.io/resources/guides/how-to-write-a-privacy-policy/">how to write a privacy policy</a>.</p>
        </div>
    </aside>
    <h2 id="is-a-privacy-policy-required-by-law">2. Is a Privacy Policy Required by Law?</h2>
    <p>If your website uses personal information (e.g, collected names, email address, or credit card information), most legislations around the world require that you have a privacy policy.</p>
    <p>If you run a website, mobile app, or desktop app, you are likely legally required to have a privacy policy somewhere on your site. You must display links to your policy <strong>clearly, prominently, and conspicuously</strong>, so that users can navigate to it quickly and easily.</p>
    <p>As data collection and processing becomes more ubiquitous across the internet, <a href="https://termly.io/resources/articles/privacy-laws-in-the-us/">privacy laws in the US</a> and around the world set strict requirements for privacy policies. Here are the major laws that affect your website privacy policy:</p>
    <h3>GDPR</h3>
    <p>If you target users in the European Economic Area (EEA), you’re subject to comply with the General Data Protection Regulation (<a href="https://termly.io/resources/articles/what-is-gdpr/">GDPR</a>).</p>
    <p>The GDPR is one of the world’s most comprehensive privacy laws, setting international standards for appropriate data handling. <a href="https://gdpr-info.eu/art-12-gdpr/" target="_blank" rel="noopener noreferrer">Article 12 of the GDPR</a> grants users the right to <strong>transparent information about how their data is collected</strong> and handled. For business and website owners, this means that transparent privacy policies are mandated by the GDPR.</p>
    <h3>COPPA</h3>
    <p>If your website markets to children, strict rules and regulations apply. Most notably, the <a href="https://termly.io/resources/articles/coppa/">Children’s Online Privacy Protection Act (COPPA)</a> governs websites that market specifically to kids.</p>
    <p>If the target audience of your site is children <strong>under the age of 13</strong>, federal law requires you to include a company privacy policy that covers very specific information about your business.</p>
    <h3>CalOPPA</h3>
    <p>The California Online Privacy Protection Act (<a href="https://termly.io/resources/articles/caloppa/">CalOPPA</a>) was the original privacy law in the US which mandated that websites make privacy policies available to users. The act also outlines what information needs to be made available regarding data handling — including what data is collected, where from, and whether it’s shared or sold.</p>
    <h3>CCPA</h3>
    <p>Currently the most comprehensive data privacy law based in the US, the California Consumer Privacy Act (<a href="https://termly.io/resources/articles/ccpa/">CCPA</a>) builds on the online privacy policy requirements of CalOPPA. It builds on CalOPPA’s privacy policy standards, demanding that businesses and websites implement even more transparent and comprehensive policies.</p>
    <p>In effect since January 1, 2020, the CCPA sets an <strong>annual update requirement</strong> for privacy policies. Therefore, you will need to update your <a href="https://termly.io/resources/articles/ccpa-privacy-policy/">CCPA privacy policy</a> every year.</p>
    <aside class="tip alt">
        <div class="tip-icon">
            <svg class="icon icon-tip-alt" aria-hidden="true" focusable="false" role="img"> <use xlink:href="#icon-tip-alt"></use> </svg>
        </div>
        <div class="tip-text">
            <p>Updating your web pages as your business evolves is to be expected. Your legal policies are no exception — <a href="https://termly.io/resources/articles/privacy-policy-updates/">privacy policy updates</a> are necessary as your data practices and privacy laws change.</p>
        </div>
    </aside>
    <h3>PIPEDA</h3>
    <p>For businesses operating in Canada, the Personal Information Protection and Electronic Documents Act (<a href="https://laws-lois.justice.gc.ca/ENG/ACTS/P-8.6/index.html" target="_blank" rel="noopener noreferrer">PIPEDA</a>) outlines ten fair information privacy practices and principles, including “openness.”</p>
    <p>In action, complying with this principle means website operators need to make transparent privacy policies available to their users.</p>
    <h3>Other Notable Laws</h3>
    <p>Depending on where your website is based, who your audience is, and what data you collect, there are various laws that may apply to you and your privacy policy.</p>
    <p>For example, if you send marketing emails or newsletters, you’re subject to comply with the <a href="https://termly.io/resources/articles/can-spam-act/">CAN-SPAM Act</a>, which requires a clearly posted privacy policy.</p>
    <p>If your website is “significantly engaged” in financial activities, you may be subject to the Federal Trade Commission’s (FTC) <a href="https://www.ftc.gov/tips-advice/business-center/guidance/how-comply-privacy-consumer-financial-information-rule-gramm" target="_blank" rel="noopener noreferrer">Gramm-Leach-Bliley Act</a>, which requires the publication of “clear, conspicuous and accurate statements” regarding information collection and sharing practices.</p>
    <p>There are over one hundred <a href="https://termly.io/resources/infographics/privacy-laws-around-the-world/">privacy laws around the world</a> and <a href="https://termly.io/resources/articles/new-internet-laws/">new internet laws</a> coming out each year. Creating and maintaining a good privacy policy is essential to legally running your website or business.</p>
    <p><span style="font-weight: 400;"> </span></p><aside class="tip ">
        <div class="tip-icon">
            <svg class="icon icon-tip" aria-hidden="true" focusable="false" role="img"> <use xlink:href="#icon-tip"></use> </svg>
        </div>
        <div class="tip-text">
            <p><span style="font-weight: 400;">An </span><a href="https://termly.io/resources/articles/impressum/"><span style="font-weight: 400;">impressum</span></a><span style="font-weight: 400;"> is a legal statement similar to a privacy policy, and is legally required for websites in Germany, Austria, and Switzerland.</span></p>
        </div>
    </aside>
    <p></p>
    <h2 id="what-should-i-include-in-a-boilerplate-privacy-policy">3. What Should I Include in a Boilerplate Privacy Policy?</h2>
    <p>A basic privacy policy template includes the what, when, who, why, and how of your data collection practices. While every website and business should have a policy tailored to its own operations, even the most simple privacy policy will include the following information:</p>
    <h3>What Information You Collect</h3>
    <p>At the heart of your website’s privacy policy is a disclosure of what data you collect from users. Some common types of data that you’ll find in website privacy policy templates are:</p>
    <ul>
        <li>
            <strong>Personal data</strong> (like names and email addresses)
        </li>
        <li>
            <strong>Derivative data</strong> (like IP addresses and browser types)
        </li>
        <li>
            <strong>Financial data</strong> (like credit card details)
        </li>
        <li>
            <strong>Social network data</strong> (like Facebook login information)
        </li>
        <li>
            <strong>Mobile data</strong> (like mobile device IDs and manufacturers)
        </li>
        <li>
            <strong>Third-party data</strong> (like social network friends lists)
        </li>
    </ul>
    <p>Both the GDPR and CCPA state that privacy policies should disclose what types of information a website collects. The above are only some basic examples of what types of information may mean for your site.</p>
    <aside class="tip ">
        <div class="tip-icon">
            <svg class="icon icon-tip" aria-hidden="true" focusable="false" role="img"> <use xlink:href="#icon-tip"></use> </svg>
        </div>
        <div class="tip-text">
            <p>When assessing your data collection practices, carefully inspect each of your web pages for potential collection sites. Signup pages, login modals, and checkout screens are some of the most common points of data collection.</p>
        </div>
    </aside>
    <h3>Why You Collect Information</h3>
    <p>Another legal necessity under various privacy laws, your data collection needs an explicit purpose — and that purpose needs to be written out in your privacy policy.</p>
    <p>Here are just a few examples of ways you may use the user data you collect:</p>
    <ul>
        <li>To send marketing materials or newsletters</li>
        <li>To process orders</li>
        <li>To complete transactions</li>
        <li>To enter users in sweepstakes, contests, or surveys</li>
        <li>To create and maintain user accounts</li>
        <li>To prevent fraudulent activities</li>
    </ul>
    <p>If you engage in any of the above activities — or others that require the collection of data — you need to list them in your privacy policy.</p>
    <h3>Whether You Disclose Data to Third Parties</h3>
    <p>It’s not uncommon for a website to be integrated with other sites and services. For example, nearly <a href="https://trends.builtwith.com/analytics/Google-Analytics" target="_blank" rel="noopener noreferrer">30 million live websites use Google Analytics</a>. Given this online ecosystem, it’s only to be expected that your website might need to transfer data to third parties to operate smoothly.</p>
    <p>To stay compliant with the law and maintain a transparent privacy policy, you must disclose the categories of third parties with whom your site may share information. Some <strong>common categories of third parties</strong> include:</p>
    <ul>
        <li>Service providers</li>
        <li>Ad vendors &amp; networks (like Google Adsense)</li>
        <li>Social networks</li>
        <li>Business partners</li>
        <li>Affiliates</li>
        <li>Other site users</li>
    </ul>
    <p>Along with which categories of third parties you may share information with, you should note the purposes behind the data exchange. Here’s an example of how we accomplish this in the downloadable privacy policy template below:</p>
    <table style="width: 90%; margin-left: auto; margin-right: auto; padding-bottom: 1.75em; padding: 15px; border: 2px solid #dadada;">
        <tbody>
            <tr>
                <td style="padding: 10px; line-height: 22px; border: 0px solid #d4d4d4;"><strong>Third-Party Service Providers</strong></td>
            </tr>
            <tr>
                <td style="padding: 10px; line-height: 22px;">We may share your information with third parties that perform services for us or on our behalf, including payment processing, data analysis, email delivery, hosting services, customer service, and marketing assistance.</td>
            </tr>
            <tr>
                <td class="a" style="background-color: #b7efc0; border: 0px solid #d4d4d4; border-radius: 6px; padding: 10px; line-height: 22px;"><strong>Marketing Communications</strong></td>
            </tr>
            <tr>
                <td class="b" style="background-color: #b6feff; border: 0px solid #dad9d9; border-radius: 6px; padding: 10px; line-height: 22px;">With your consent, or with an opportunity for you to withdraw consent, we may share your information with third parties for marketing purposes, as permitted by law.</td>
            </tr>
            <tr>
                <td style="border: 0px solid #d4d4d4; padding: 10px; line-height: 22px;"><strong>Interactions with Other Users</strong></td>
            </tr>
            <tr>
                <td style="border: 0px solid #dad9d9; padding: 10px; line-height: 22px;">If you interact with other users of the Site [and our mobile application], those users may see your name, profile photo, and descriptions of your activity, including sending invitations to other users, chatting with other users, liking posts, following blogs.</td>
            </tr>
        </tbody>
    </table>
    <p>
        <span style="color: #ffffff;">.</span><br>
        The <strong>green text</strong> highlights the type of third party that user information could be shared with, while the <strong>blue section</strong>&nbsp;gives a brief explanation of how and why that information may be shared.
    </p>
    <h3>User Rights Over Their Data</h3>
    <p>Your privacy policy should have a section outlining what rights users have over their data, and how they can act on those rights.</p>
    <p>For example, users from the EEA or California have the <strong>right to request access to data</strong> that has been collected about them. Specify this right in your privacy policy, including instructions on making such requests.</p>
    <p>Check out how it’s done in <a href="https://www.airbnb.com/terms/privacy_policy#sec201910_6" target="_blank" rel="noopener noreferrer">Airbnb’s privacy policy</a>:</p>
    <p><img loading="lazy" class="aligncenter wp-image-4716 size-full" title="Airbnb privacy policy example" src="https://termly.io/wp-content/uploads/2019/11/airbnb-privacy-policy.jpg" alt="airbnb privacy policy" width="744" height="352" srcset="https://termly.io/wp-content/uploads/2019/11/airbnb-privacy-policy.jpg 744w, https://termly.io/wp-content/uploads/2019/11/airbnb-privacy-policy-300x142.jpg 300w" sizes="(max-width: 744px) 100vw, 744px"></p>
    <p>This section of Airbnb’s policy goes on to specify four more data rights, and includes links to pages with more information on acting on those rights.</p>
    <h3>Links to Other Policies</h3>
    <p>Many sites label their network of legal policies collectively as their “Terms.” Your site’s terms will most likely include a <strong>privacy policy, terms of use, and disclaimer</strong>.</p>
    <aside class="tip ">
        <div class="tip-icon">
            <svg class="icon icon-tip" aria-hidden="true" focusable="false" role="img"> <use xlink:href="#icon-tip"></use> </svg>
        </div>
        <div class="tip-text">
            <p>Not sure about the difference between these three critical documents? Check out our guide to the <a href="https://termly.io/resources/articles/difference-between-privacy-policy-disclaimer-and-terms-and-conditions/">differences between a privacy policy, disclaimer, and terms and conditions</a>.</p>
        </div>
    </aside>
    <p>Also gaining increasing popularity and legal necessity are cookie policies. All of these documents should link to one another, so users can always find answers to their questions about your site’s operations.</p>
    <h2 id="website-privacy-policy-examples">4. Website Privacy Policy Examples</h2>
    <p>Even if you’re using Termly’s downloadable privacy policy template for small business, it’s good to check out large companies’ privacy pages for reference.</p>
    <p>Here are some privacy statement examples from notable companies:</p>
    <h3>YouTube Privacy Policy</h3>
    <p>YouTube has interesting privacy terms, as its privacy policy is one-and-the-same with <a href="https://policies.google.com/privacy?hl=en-US" target="_blank" rel="noopener noreferrer">Google’s privacy policy</a>.</p>
    <p>However, Google’s privacy policy links out to <a href="https://support.google.com/youtube/answer/7671399?p=privacy_guidelines&amp;hl=en&amp;visit_id=637090427213045276-3797410589&amp;rd=1" target="_blank" rel="noopener noreferrer">YouTube’s privacy guidelines</a>:</p>
    <p><img loading="lazy" class="aligncenter wp-image-4717 size-full" title="YouTube privacy guidelines" src="https://termly.io/wp-content/uploads/2019/11/youtube-privacy-guidelines.jpg" alt="youtube's privacy guidelines" width="744" height="333" srcset="https://termly.io/wp-content/uploads/2019/11/youtube-privacy-guidelines.jpg 744w, https://termly.io/wp-content/uploads/2019/11/youtube-privacy-guidelines-300x134.jpg 300w" sizes="(max-width: 744px) 100vw, 744px"></p>
    <p>YouTube’s privacy guidelines expand upon Google’s privacy policy by covering the topics seen above inside the red box. While the privacy policy deals with data collection, distribution, and use, these guidelines explore privacy specifically as it relates to video content posted to YouTube.</p>
    <aside class="tip alt">
        <div class="tip-icon">
            <svg class="icon icon-tip-alt" aria-hidden="true" focusable="false" role="img"> <use xlink:href="#icon-tip-alt"></use> </svg>
        </div>
        <div class="tip-text">
            <p>Like Google, you should strive to create a network of policies. Remember to link out to supplementary documents from your privacy policy — and link to your <a href="https://termly.io/resources/articles/facebook-app-privacy-policy-url/">privacy policy URL</a> from related policies and pages.&nbsp; </p>
        </div>
    </aside>
    <h3>Twitter Privacy Policy</h3>
    <p><a href="https://twitter.com/en/privacy" target="_blank" rel="noopener noreferrer">Twitter’s privacy policy</a> retains the site’s aesthetic with a unique appearance and user-friendly interface:</p>
    <p><img loading="lazy" class="aligncenter wp-image-4719 size-full" title="Twitter privacy policy example" src="https://termly.io/wp-content/uploads/2019/11/twitter-privacy-policy.jpg" alt="twitter privacy policy" width="744" height="348" srcset="https://termly.io/wp-content/uploads/2019/11/twitter-privacy-policy.jpg 744w, https://termly.io/wp-content/uploads/2019/11/twitter-privacy-policy-300x140.jpg 300w" sizes="(max-width: 744px) 100vw, 744px"></p>
    <p>Not only does Twitter’s policy notice include a <strong>navigable sidebar menu</strong>, but it also highlights important words and phrases in each section as you scroll down the page.</p>
    <p>Like Twitter, you should always consider how you can make your privacy policy as user-friendly as possible, and ensure your site visitors always find the answers they’re looking for.</p>
    <aside class="tip ">
        <div class="tip-icon">
            <svg class="icon icon-tip" aria-hidden="true" focusable="false" role="img"> <use xlink:href="#icon-tip"></use> </svg>
        </div>
        <div class="tip-text">
            <p>One of the easiest ways to make your web privacy policy more user-friendly is to cut out the <a href="https://termly.io/resources/articles/legalese/">legalese</a> — opt for clear and plain language instead. </p>
        </div>
    </aside>
    <h3>NewsCorp Privacy Policy</h3>
    <p>Privacy policies for news websites are unique in that they tend to focus less on data collection and transfer for business purposes, and more on user accounts and user-to-user interactions.</p>
    <p>Nonetheless, a basic website privacy policy can take a tip or two from news privacy policies. Take, for example, <a href="https://newscorp.com/privacy-policy/" target="_blank" rel="noopener noreferrer">News Corp’s privacy notice</a>:</p>
    <p><img loading="lazy" class="aligncenter wp-image-4720 size-full" title="News Corps privacy notice example" src="https://termly.io/wp-content/uploads/2019/11/news-corps-privacy-notice.jpg" alt="news corps privacy notice" width="744" height="342" srcset="https://termly.io/wp-content/uploads/2019/11/news-corps-privacy-notice.jpg 744w, https://termly.io/wp-content/uploads/2019/11/news-corps-privacy-notice-300x138.jpg 300w" sizes="(max-width: 744px) 100vw, 744px"></p>
    <p>While the privacy policy doesn’t list as many third-party data recipients as other privacy policies, notice how it discloses the <strong>company’s use of Google Analytics</strong>.</p>
    <p>It clearly states the reason data is shared with this service, by what means that data is collected, and how users can opt out of their data being shared with Google Analytics.</p>
    <p>This is the level of transparency and control a good privacy policy should offer users.</p>
    <h3>Disney Privacy Policy</h3>
    <p>If you market to children, you may require a unique privacy policy that addresses your treatment of children’s information. Take, for example, <a href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/" target="_blank" rel="noopener noreferrer">Disney’s privacy policy</a>:</p>
    <p><img loading="lazy" class="border-black aligncenter wp-image-5437 size-full" title="disney's privacy policy section regarding children's privacy" src="https://termly.io/wp-content/uploads/2020/06/disney-privacy-policy.jpg" alt="example of a children's privacy policy template from the walt disney company" width="744" height="569" srcset="https://termly.io/wp-content/uploads/2020/06/disney-privacy-policy.jpg 744w, https://termly.io/wp-content/uploads/2020/06/disney-privacy-policy-300x229.jpg 300w" sizes="(max-width: 744px) 100vw, 744px"></p>
    <p>Disney’s privacy policy addresses its collection of minors’ information, details its efforts to protect children’s data, and links out to a dedicated privacy policy for children.</p>
    <aside class="tip ">
        <div class="tip-icon">
            <svg class="icon icon-tip" aria-hidden="true" focusable="false" role="img"> <use xlink:href="#icon-tip"></use> </svg>
        </div>
        <div class="tip-text">
            <p>If you collect personal information from children, it’s in your best interest to consult an attorney and ensure your privacy policy and data collection measures have the appropriate protections in place.</p>
        </div>
    </aside>
    <h2 id="simple-privacy-policy-template-for-website-full-text-and-download">5. Simple Privacy Policy Template for Website [Full Text and Download]</h2>
    <p>Expand the box below to view the sample privacy policy text. Copy and paste the text onto your site, or download the privacy policy template PDF or Word document.</p>
    <aside class="html-document closed">
        <div class="page">
            <button type="button" class="btn btn-close">
                <span class="screen-reader-text">Close</span>
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="img"> <use xlink:href="#icon-close"></use> </svg>
            </button>
            <div class="inner">
                <h2>Website Privacy Policy Template [Text Format]</h2>
                <p>Last updated <span style="color: #8351f9;">[month day, year]</span></p>
                <p><strong>INTRODUCTION</strong></p>
                <p><span style="color: #8351f9;">[BUSINESS ENTITY NAME] </span>(“we” or “us” or “our”) respects the privacy of our users (“user” or “you”). This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website <span style="color: #8351f9;">[name of website.com] [and our mobile application]</span>, including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the “Site”). Please read this privacy policy carefully. If you do not agree with the terms of this privacy policy, please do not access the site.</p>
                <p>We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes by updating the “Last Updated” date of this Privacy Policy. Any changes or modifications will be effective immediately upon posting the updated Privacy Policy on the Site, and you waive the right to receive specific notice of each such change or modification.</p>
                <p>You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the Site after the date such revised Privacy Policy is posted.</p>
                <p>This Privacy Policy was generated by <span style="color: #000000;"><a style="color: #000000;" href="https://termly.io/products/privacy-policy-generator/">Termly’s Privacy Policy Generator</a></span>.</p>
                <p><strong>COLLECTION OF YOUR INFORMATION</strong></p>
                <p>We may collect information about you in a variety of ways. The information we may collect on the Site includes:</p>
                <p><strong>Personal Data</strong></p>
                <p>Personally identifiable information, such as your name, shipping address, email address, and telephone number, and demographic information, such as your age, gender, hometown, and interests, that you voluntarily give to us <span style="color: #8351f9;">[when you register with the Site [or our mobile application,] or]</span> when you choose to participate in various activities related to the Site <span style="color: #8351f9;">[and our mobile application]</span>, such as online chat and message boards. You are under no obligation to provide us with personal information of any kind, however your refusal to do so may prevent you from using certain features of the Site <span style="color: #8351f9;">[and our mobile application]</span>.</p>
                <p><strong>Derivative Data</strong></p>
                <p>Information our servers automatically collect when you access the Site, such as your IP address, your browser type, your operating system, your access times, and the pages you have viewed directly before and after accessing the Site. [If you are using our mobile application, this information may also include your device name and type, your operating system, your phone number, your country, your likes and replies to a post, and other interactions with the application and other users via server log files, as well as any other information you choose to provide.]</p>
                <p><strong>Financial Data</strong></p>
                <p>Financial information, such as data related to your payment method (e.g. valid credit card number, card brand, expiration date) that we may collect when you purchase, order, return, exchange, or request information about our services from the Site <span style="color: #8351f9;">[or our mobile application]. [We store only very limited, if any, financial information that we collect. Otherwise, all financial information is stored by our payment processor, [</span><a href="https://pay.amazon.com/help/201491260">Amazon Payments,</a><span style="color: #8351f9;">] [</span><a href="https://www.authorize.net/about-us/privacy.html">Authorize.Net,</a><span style="color: #8351f9;">] [</span><a href="https://www.braintreepayments.com/legal">Braintree Payments,</a><span style="color: #8351f9;">] [</span><a href="https://www.chargify.com/privacy-policy/">Chargify,</a><span style="color: #8351f9;">] [</span><a href="https://www.dwolla.com/legal/privacy/">Dwolla,</a><span style="color: #8351f9;">] [</span><a href="https://payments.google.com/payments/apis-secure/get_legal_document?ldo=0&amp;ldt=privacynotice">Google Checkout,<span style="color: #8351f9;">]</span></a><span style="color: #8351f9;"> [</span><a href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full">Paypal</a>,<span style="color: #8351f9;">] [</span><a href="https://www.safecharge.com/privacy-cookies-policy/">SafeCharge,</a><span style="color: #8351f9;">] [</span><a href="https://stripe.com/privacy">Stripe,</a><span style="color: #8351f9;">] [</span><a href="https://go.wepay.com/terms-of-service-us/#us">WePay,</a><span style="color: #8351f9;">] </span><a href="https://www.2checkout.com/legal/privacy/"><span style="color: #8351f9;">[</span>2Checkout,</a><span style="color: #339966;"><span style="color: #8351f9;">] [other], and you are encouraged to review their privacy policy and contact them directly for responses to your questions.]</span></span></p>
                <p><strong>Facebook Permissions</strong></p>
                <p>The Site <span style="color: #8351f9;">[and our mobile application]</span> may by default access your <a href="https://www.facebook.com/about/privacy/">Facebook</a> basic account information, including your name, email, gender, birthday, current city, and profile picture URL, as well as other information that you choose to make public. We may also request access to other permissions related to your account, such as friends, checkins, and likes, and you may choose to grant or deny us access to each individual permission. For more information regarding Facebook permissions, refer to the <a href="https://developers.facebook.com/docs/permissions/reference" target="_blank" rel="noopener noreferrer">Facebook Permissions Reference</a> page.</p>
                <p><strong>Data From Social Networks</strong></p>
                <p>User information from social networking sites, such as <span style="color: #8351f9;">[Apple’s Game Center, Facebook, Google+, Instagram, Pinterest, Twitter]</span>, including your name, your social network username, location, gender, birth date, email address, profile picture, and public data for contacts, if you connect your account to such social networks. <span style="color: #8351f9;">[If you are using our mobile application, this information may also include the contact information of anyone you invite to use and/or join our mobile application.]</span></p>
                <p><strong>Mobile Device Data</strong></p>
                <p>Device information, such as your mobile device ID, model, and manufacturer, and information about the location of your device, if you access the Site from a mobile device.</p>
                <p><strong>Third-Party Data</strong></p>
                <p>Information from third parties, such as personal information or network friends, if you connect your account to the third party and grant the Site permission to access this information.</p>
                <p><strong>Data From Contests, Giveaways, and Surveys</strong></p>
                <p>Personal and other information you may provide when entering contests or giveaways and/or responding to surveys.</p>
                <p><strong>Mobile Application Information</strong></p>
                <p>If you connect using our mobile application:</p>
                <ul>
                    <li>Geo-Location Information. We may request access or permission to and track location-based information from your mobile device, either continuously or while you are using our mobile application, to provide location-based services. If you wish to change our access or permissions, you may do so in your device’s settings.</li>
                    <li>Mobile Device Access. We may request access or permission to certain features from your mobile device, including your mobile device’s <span style="color: #8351f9;">[bluetooth, calendar, camera, contacts, microphone, reminders, sensors, SMS messages, social media accounts, storage,]</span> and other features. If you wish to change our access or permissions, you may do so in your device’s settings.</li>
                    <li>Mobile Device Data. We may collect device information (such as your mobile device ID, model and manufacturer), operating system, version information and IP address.</li>
                    <li>Push Notifications. We may request to send you push notifications regarding your account or the Application. If you wish to opt-out from receiving these types of communications, you may turn them off in your device’s settings.</li>
                </ul>
                <p><strong>USE OF YOUR INFORMATION</strong></p>
                <p>Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you via the Site <span style="color: #8351f9;">[or our mobile application]</span> to:</p>
                <ul>
                    <li>Administer sweepstakes, promotions, and contests.</li>
                    <li>Assist law enforcement and respond to subpoena.</li>
                    <li>Compile anonymous statistical data and analysis for use internally or with third parties.</li>
                    <li>Create and manage your account.</li>
                    <li>Deliver targeted advertising, coupons, newsletters, and other information regarding promotions and the Site<span style="color: #8351f9;"> [and our mobile application]</span> to you.</li>
                    <li>Email you regarding your account or order.</li>
                    <li>Enable user-to-user communications.</li>
                    <li>Fulfill and manage purchases, orders, payments, and other transactions related to the Site <span style="color: #8351f9;">[and our mobile application]</span>.</li>
                    <li>Generate a personal profile about you to make future visits to the Site <span style="color: #8351f9;">[and our mobile application] </span>more personalized.</li>
                    <li>Increase the efficiency and operation of the Site <span style="color: #8351f9;">[and our mobile application]</span>.</li>
                    <li>Monitor and analyze usage and trends to improve your experience with the Site <span style="color: #8351f9;">[and our mobile application]</span>.</li>
                    <li>Notify you of updates to the Site <span style="color: #8351f9;">[and our mobile application]</span>s.</li>
                    <li>Offer new products, services, <span style="color: #8351f9;">[mobile applications,]</span> and/or recommendations to you.</li>
                    <li>Perform other business activities as needed.</li>
                    <li>Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.</li>
                    <li>Process payments and refunds.</li>
                    <li>Request feedback and contact you about your use of the Site <span style="color: #8351f9;">[and our mobile application]</span>.</li>
                    <li>Resolve disputes and troubleshoot problems.</li>
                    <li>Respond to product and customer service requests.</li>
                    <li>Send you a newsletter.</li>
                    <li>Solicit support for the Site <span style="color: #8351f9;">[and our mobile application]</span>.</li>
                    <li><span style="color: #8351f9;">[Other]</span></li>
                </ul>
                <p><strong>DISCLOSURE OF YOUR INFORMATION</strong></p>
                <p>We may share information we have collected about you in certain situations. Your information may be disclosed as follows:</p>
                <p><strong>By Law or to Protect Rights</strong></p>
                <p>If we believe the release of information about you is necessary to respond to legal process, to investigate or remedy potential violations of our policies, or to protect the rights, property, and safety of others, we may share your information as permitted or required by any applicable law, rule, or regulation. This includes exchanging information with other entities for fraud protection and credit risk reduction.</p>
                <p><strong>Third-Party Service Providers</strong></p>
                <p>We may share your information with third parties that perform services for us or on our behalf, including payment processing, data analysis, email delivery, hosting services, customer service, and marketing assistance.</p>
                <p><strong>Marketing Communications</strong></p>
                <p>With your consent, or with an opportunity for you to withdraw consent, we may share your information with third parties for marketing purposes, as permitted by law.</p>
                <p><strong>Interactions with Other Users</strong></p>
                <p>If you interact with other users of the Site <span style="color: #8351f9;">[and our mobile application]</span>, those users may see your name, profile photo, and descriptions of your activity, including sending invitations to other users, chatting with other users, liking posts, following blogs.</p>
                <p><strong>Online Postings</strong></p>
                <p>When you post comments, contributions or other content to the Site<span style="color: #8351f9;"> [or our mobile applications]</span>, your posts may be viewed by all users and may be publicly distributed outside the Site <span style="color: #8351f9;">[and our mobile application]</span> in perpetuity.</p>
                <p><strong>Third-Party Advertisers</strong></p>
                <p>We may use third-party advertising companies to serve ads when you visit the Site <span style="color: #8351f9;">[or our mobile application]</span>. These companies may use information about your visits to the Site <span style="color: #8351f9;">[and our mobile application]</span> and other websites that are contained in web cookies in order to provide advertisements about goods and services of interest to you.</p>
                <p><strong>Affiliates</strong></p>
                <p>We may share your information with our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include our parent company and any subsidiaries, joint venture partners or other companies that we control or that are under common control with us.</p>
                <p><strong>Business Partners</strong></p>
                <p>We may share your information with our business partners to offer you certain products, services or promotions.</p>
                <p><span style="color: #8351f9;"><strong>[Offer Wall&nbsp;</strong></span></p>
                <p><span style="color: #8351f9;">Our mobile application may display a third-party hosted “offer wall.” Such an offer wall allows third-party advertisers to offer virtual currency, gifts, or other items to users in return for acceptance and completion of an advertisement offer. Such an offer wall may appear in our mobile application and be displayed to you based on certain data, such as your geographic area or demographic information. When you click on an offer wall, you will leave our mobile application. A unique identifier, such as your user ID, will be shared with the offer wall provider in order to prevent fraud and properly credit your account.]</span></p>
                <p><span style="color: #8351f9;"><strong>[Social Media Contacts&nbsp;</strong></span></p>
                <p><span style="color: #8351f9;">If you connect to the Site [or our mobile application] through a social network, your contacts on the social network will see your name, profile photo, and descriptions of your activity.]</span></p>
                <p><strong>Other Third Parties</strong></p>
                <p>We may share your information with advertisers and investors for the purpose of conducting general business analysis. We may also share your information with such third parties for marketing purposes, as permitted by law.</p>
                <p><strong>Sale or Bankruptcy</strong></p>
                <p>If we reorganize or sell all or a portion of our assets, undergo a merger, or are acquired by another entity, we may transfer your information to the successor entity. If we go out of business or enter bankruptcy, your information would be an asset transferred or acquired by a third party. You acknowledge that such transfers may occur and that the transferee may decline honor commitments we made in this Privacy Policy.</p>
                <p>We are not responsible for the actions of third parties with whom you share personal or sensitive data, and we have no authority to manage or control third-party solicitations. If you no longer wish to receive correspondence, emails or other communications from third parties, you are responsible for contacting the third party directly.</p>
                <p><span style="color: #8351f9;"><strong>TRACKING TECHNOLOGIES</strong></span></p>
                <p><strong>Cookies and Web Beacons</strong></p>
                <p>We may use cookies, web beacons, tracking pixels, and other tracking technologies on the Site <span style="color: #8351f9;">[and our mobile application]</span> to help customize the Site <span style="color: #8351f9;">[and our mobile application]</span> and improve your experience. When you access the Site<span style="color: #8351f9;"> [or our mobile application]</span>, your personal information is not collected through the use of tracking technology. Most browsers are set to accept cookies by default. You can remove or reject cookies, but be aware that such action could affect the availability and functionality of the Site <span style="color: #339966;"><span style="color: #8351f9;">[or our mobile application]</span>.</span> You may not decline web beacons. However, they can be rendered ineffective by declining all cookies or by modifying your web browser’s settings to notify you each time a cookie is tendered, permitting you to accept or decline cookies on an individual basis.</p>
                <p>[We may use cookies, web beacons, tracking pixels, and other tracking technologies on the Site <span style="color: #8351f9;">[and our mobile application]</span> to help customize the Site <span style="color: #8351f9;">[and our mobile application]</span> and improve your experience. For more information on how we use cookies, please refer to our Cookie Policy posted on the Site, which is incorporated into this Privacy Policy. By using the Site, you agree to be bound by our Cookie Policy.]</p>
                <p><strong>Internet-Based Advertising</strong></p>
